body{
  background:#badabf;
  font-family: 'Play', sans-serif;

  .header{
    background: #7bb38d;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    border: 1px solid black;
  }
}

